/*Website Layout and Grid Conventions*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  max-width: 100%;
}

body {
  background-color: #70228350;
  max-width: 100%;
  text-align: center;
}

header {
  background-color: #962071;
  display: grid;
  grid-template-rows: auto, auto;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  text-align: center;
}

nav ul {
  font-family: "Handlee", cursive;
  font-size: 1rem;
  display: inline-grid;
}

.site-nav ul {
  grid-template-columns: repeat(3, 1fr);
}

nav li {
  list-style: none;
}



footer {
  background-color: #702283;
  position: relative;
  top: 8rem;
  width: 100%;
}

/*Main Element Positioning ~~ Format Flex and main content elements on it's own page's file!*/

main {
  position: relative;
  top: 8rem;
  margin: 0 1rem;
}

/*Website Text Styling Conventions*/

h1 {
  font-family: "Handlee", cursive;
  font-size: 3rem;
}

.website-section-title {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #962071;
  padding-bottom: 1rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
/* Not currently being used, but being held in case!
h6 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}*/

p {
  line-height: 2rem;
  text-align: left;
}

.body-list {
  text-align: left;
  margin: 0 1rem;
}

.body-list li {
  line-height: 2rem;
}

.sub-list {
  margin-left: 1.5rem;
}

/*aside {
  font-family: "Shadows into Light Two", cursive;
  font-style: italic;
  font-size: 1.5rem;
  color: #962071;
  background-color: #fdb44b;
  border-radius: 20px;
}*/

figcaption {
  font-family: "Kode Mono", monospace;
  font-size: 0.75rem;
}

.code {
  font-family: "Kode Mono", monospace;
  font-size: 1.25rem;
  text-transform: lowercase;
  background-color: #76b39d60;
}

.here {
  font-weight: bolder;
}

.intro {
  text-align: center;
  font-weight: 500;
}

.foot {
  font-family: "Handlee", cursive;
  font-style: italic;
  font-size: smaller;
  color: white;
  text-align: center;
}

/*Website User Navigation Conventions (links and buttons)*/

.internal_link {
  color: black;
}

.internal_link:visited {
  color: purple;
}

.site-nav .internal_link:visited {
  color: #76b39d;
}

.internal_link:hover {
  background-color: #fdb44b80;
  border-radius: 5px;
  padding: 0.5rem;
}

.internal_link:active {
  color: #702283;
  text-decoration: none;
  font-weight: bold;
}

.external_link {
  color: blue;
}

.external_link:visited {
  color: purple;
}

.external_link:hover {
  border: 2px solid blue;
}

.external_link:active {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.button {
  background-color: #fdb44b;
  color: black;
  height: auto;
  width: auto;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: underline;
}

.button:visited {
  background-color: #76b39d;
}

.button:hover {
  background-color: white;
  border: 2px solid #fdb44b;
  padding: 0.75rem;
  text-decoration: none;
}

.button:active {
  color: #702283;
  text-decoration: none;
  font-weight: bold;
}

/*Media*/

img {
  max-height: auto;
  max-width: 90%;
}

/*Style override classes*/

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.handlee {
  font-family: "Handlee", cursive;
}

.shadows {
  font-family: "Shadows into Light Two", cursive;
}

.kode {
  font-family: "Kode Mono", monospace;
}

.mauve {
  color: #702283;
}

.purple {
  color: #962071;
}

.green {
  color: #76b39d;
}

.yellow {
  color: #fdb44b;
}

/*Responsive Site Please*/

@media only screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
}
